name: validation

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  run-tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Use Node.js
      uses: actions/setup-node@v6

    - name: Install dependencies
      run: npm install

    - name: Build packages
      run: npm run build

    - name: Run tests
      run: npm run test
